/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );
.v-main{
    padding-top: 0px;
    overflow-x: hidden;
    
}
html{
    overflow-x: hidden;
    
}
body{
    width: 100%;
    margin: auto;
    display: block;
    min-width: fit-content;
    font-family: "SF Pro Display",sans-serif;
    
}


.v-btn{

    text-transform:none;
}