/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );
.v-main{
    padding-top: 0px;
    overflow-x: hidden;
    overflow: hidden;
    
}
html{
    overflow-x: hidden;
    
}
body{
    max-width: 100vw;
    margin: auto;
    display: block;
    
    
}


.v-btn{

    text-transform:none;
}